{% extends 'base.html' %}
{% load static %}

{% block title %}
    Home Page
{% endblock %}
{% block extrahead %}
    <link href= "https://coolors.co/font/aleo"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}
    <div class="projects-list container-md">
        <div class="card mb-3" style="border: none">
            {% for project in projects %}
                <div class="project card-body" data-name="{{ project.title|lower }}"
                     data-tags="{{ project.tags.all|join:', '|lower }}">
                    {% for image in project.images.all %}
                        <img class="image card-img-top img-fluid" src="{{ image.image.url }}" alt="Project image"/>
                    {% endfor %}
                    <div class="center text" style="text-align: center; font-family: aleo, sans-serif;">
                        <h2><a class="project-name" href="{% url 'projects' project.id %}">{{ project.title }}</a></h2>
                        <p style="color: #2c2d2c">{{ project.description }}</p>
                        <p style="color: #2c2d2c">Tags: {{ project.tags.all|join:', ' }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/home.js' %}"></script>
{% endblock %}